In [1]:
s="pwskills"

In [2]:
s[::-1]

'sllikswp'

In [22]:
def is_palindrome(s):
 return s==s[::-1]
print(is_palindrome("radar"))

True

In [19]:
m="pwskills"
m.upper()

'PWSKILLS'

In [20]:
t="pwskills"
t.lower()

'pwskills'

In [41]:
def count_vowels(s):
   vowels="aeiouAEIOU"
   count=0
   for char in s:
    if char in vowels:
      count+=1
      return count
sen=input("enter a sentence ")
print("count number of vowels",count_vowels(sen))

enter a sentence pwskills
count number of vowels 1

In [55]:
def count_consonants(s):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s:
        if char.isalpha() and char not in vowels:
            count += 1
    return count
sentence = input("Enter a sentence: ")
print("Number of consonants in the sentence:", count_consonants(sentence))

Enter a sentence: pwskills
Number of consonants in the sentence: 7

In [3]:
s="hello, world"
s.replace(" ","")

'hello,world'

In [72]:
def string_length(s):
  count=0
  for char in s:
    count+1
    return count
sen=input("enter a sentence")
print("Length of the string is:", string_length(sen))

enter a sentencepwskills
Length of the string is: 0

In [2]:
def contains_word(s, word):
    return s.find(word) != -1

In [10]:
def replace_word(s, old_word, new_word):
    return s.replace(old_word, new_word)
s = "Hello, World!"
old_word = "World"
new_word = "Universe"
print("Modified string:", replace_word(s, old_word, new_word))

Modified string: Hello, Universe!

In [13]:
s="pwskills"
s.count('l')

2

In [18]:
s="new world order created by someone"
words="world"
first_occurrence=s.find(words)
print("first occurrence words",first_occurrence)

first occurrence words 4

In [21]:
s="new world order"
words="order"
last_occurrence=s.find(words)
print("last world occurrence",last_occurrence)

last world occurrence 10

In [23]:
sentence="never advice any one until they ask"
words=sentence.split()
print(words)

['never', 'advice', 'any', 'one', 'until', 'they', 'ask']

In [24]:
words = ['These', 'are', 'words']
sentence = ' '.join(words)
print(sentence)

These are words

In [27]:
s="create big thing in your life"
s.replace("","_")

'_c_r_e_a_t_e_ _b_i_g_ _t_h_i_n_g_ _i_n_ _y_o_u_r_ _l_i_f_e_'

In [1]:
s = "Hello, World!"
word = "Hello"
starts_with_word = s.startswith(word)
print("The string starts with the word:", starts_with_word)

The string starts with the word: True

In [5]:
s = "Hello, World!"
word = "World!"
ends_with_word = s.endswith(word)
print("The string ends with the word:", ends_with_word)

The string ends with the word: True

In [7]:
s="hello world"
s.title()

'Hello World'

In [13]:
def find_longest_word(s):
    words = s.split()
    longest_word = max(words, key=len)
    return longest_word

s = "The quick brown fox jumps over the lazy dog"
longest_word = find_longest_word(s)
print("The longest word is:", longest_word)

The longest word is: quick

In [14]:
def find_shortest_word(s):
    words = s.split()
    shortest_word = min(words, key=len)
    return shortest_word

s = "The quick brown fox jumps over the lazy dog"
shortest_word = find_shortest_word(s)
print("The shortest word is:", shortest_word)

The shortest word is: The

In [15]:
s="never advice anyone until they ask"
s[::-1]

'ksa yeht litnu enoyna ecivda reven'

In [16]:
s = "Hello123"
is_alphanumeric = s.isalnum()
print("The string is alphanumeric:", is_alphanumeric)

The string is alphanumeric: True

In [17]:
s = "hello 12 hi 89"
digits = [int(char) for char in s if char.isdigit()]
print("The extracted digits are:", digits)

The extracted digits are: [1, 2, 8, 9]

In [21]:
s = "hello 12 hi 89"
alphabets = [char for char in s if char.isalpha()]
print("The extracted alphabets are:", alphabets)

The extracted alphabets are: ['h', 'e', 'l', 'l', 'o', 'h', 'i']

In [22]:
s = "Hello, World!"
uppercase_count = sum(1 for char in s if char.isupper())
print("The number of uppercase letters is:", uppercase_count)

The number of uppercase letters is: 2

In [23]:
s = "Hello, World!"
lowercase_count = sum(1 for char in s if char.islower())
print("The number of uppercase letters is:", lowercase_count)

The number of uppercase letters is: 8

In [24]:
s = "Hello, World!"
swapped_case = s.swapcase()
print("The swapped case string is:", swapped_case)

The swapped case string is: hELLO, wORLD!

In [71]:
s = "Hello, World! Hello"
word_to_remove = "Hello"
new_string = s.replace(word_to_remove, "")

In [39]:
email = "ankitrai326@gmail.com"
username = email.split("@")[0]
print("The username is:", username)

The username is: ankitrai326

In [42]:
email = "example@email.com"
domain = email.split("@")[1]
print("The domain name is:", domain)

The domain name is: email.com

In [45]:
s = "Hello   world   example"
s = s.replace(r'\s+++', ' ')
print(s)

Hello   world   example

In [53]:
url_string = "https//:www.google.com"
is_valid =('url_string')
if is_valid:
    print("Valid URL")
else:
    print("Invalid URL")

Valid URL

In [59]:
email="https//:example@gmail.com"
url=email.split('example'[0])
print('url',url)

url ['https//:', 'xampl', '@gmail.com']

In [62]:
s = "Hello, World!"
freq = {char: s.count(char) for char in set(s)}
print("The frequency of each character is:", freq)

The frequency of each character is: {'H': 1, 'e': 1, 'l': 3, 'o': 2, ',': 1, ' ': 1, 'W': 1, 'r': 1, 'd': 1, '!': 1}

In [70]:
import re
s = "Hello, World!"
no_punct = re.sub(r'[^\w\s]', '', s)
print("The string without punctuation is:", no_punct)

The string without punctuation is: Hello World

In [72]:
s = "12345"
if s.isdigit():
    print("The string contains only digits")
else:
    print("The string contains non-digit characters")

The string contains only digits

In [75]:
s = "hello"
if s.isalpha():
    print("The string contains only alphabet")
else:
    print("The string contains digit")

The string contains only alphabet

In [78]:
s="pwskills"
list['pwskills']

list['pwskills']

In [79]:
s1 = "listen"
s2 = "silent"
if sorted(s1) == sorted(s2):
    print("The strings are anagrams")
else:
    print("The strings are not anagrams")

The strings are anagrams

In [82]:
def caesar_cipher(text, shift):
    result = ""
    for char in text:
        if char.isalpha():
            # Determine the appropriate case for the letter
            base = ord('A') if char.isupper() else ord('a')
            # Apply the shift and handle wrapping
            result += chr((ord(char) - base + shift) % 26 + base)
        else:
            result += char  # Preserve non-alphabetic characters
    return result

# Example usage
text = "Hello, World!"
shift = 3
encoded_text = caesar_cipher(text, shift)
print("Encoded text:", encoded_text)

Encoded text: Khoor, Zruog!

In [83]:
def caesar_cipher_decode(text, shift):
    result = ""
    for char in text:
        if char.isalpha():
            # Determine the appropriate case for the letter
            base = ord('A') if char.isupper() else ord('a')
            # Apply the reverse shift and handle wrapping
            result += chr((ord(char) - base - shift) % 26 + base)
        else:
            result += char  # Preserve non-alphabetic characters
    return result

# Example usage
encoded_text = "Khoor, Zruog!"
shift = 3
decoded_text = caesar_cipher_decode(encoded_text, shift)
print("Decoded text:", decoded_text)

Decoded text: Hello, World!

In [88]:
from collections import Counter
def most_frequent_word(text):
    words = text.split()
    word_counts = Counter(words)
    return word_counts.most_common(1)

# Example usage
text = "The sun is shining, the weather is sweet, and the sun is shining, and so is my love for you."
result = most_frequent_word(text)
print("The most frequent word is:", result[0][0])

The most frequent word is: is

In [90]:
def unique_words(text):
    words = text.split()
    return set(words)

# Example usage
text = "The sun is shining, the weather is sweet, and the sun is shining, and so is my love for you."
result = unique_words(text)
print("The unique words are:", result)

The unique words are: {'and', 'sweet,', 'my', 'The', 'the', 'weather', 'sun', 'love', 'you.', 'is', 'shining,', 'for', 'so'}

In [92]:
def syllables_words(text):
    words = text.split()
    return set(words)

# Example usage
text = "The sun is shining, the weather is sweet, and the sun is shining, and so is my love for you."
result = syllables_words(text)
print("The unique words are:", result)

The unique words are: {'and', 'sweet,', 'my', 'The', 'the', 'weather', 'sun', 'love', 'you.', 'is', 'shining,', 'for', 'so'}

In [93]:
import re

def has_special_char(s):
    if re.search(r'[^A-Za-z0-9\s]', s):
        return True
    else:
        return False

# Test the function
s1 = "Hello World"
s2 = "Hello@World"
print(has_special_char(s1))
print(has_special_char(s2))

False
True

In [94]:
my_list = list(range(1, 11))
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [97]:
def length_of_list(lst):
    count = 0
    for _  in lst:
        count += 1
    return count

# Example usage
my_list = [1, 2, 3, 4, 5,6,7,8,9]
length = length_of_list(my_list)
print("The length of the list is:", length)

The length of the list is: 9

In [99]:
s=[1,2,3,4,5]
s.append(6)

In [100]:
s

[1, 2, 3, 4, 5, 6]

In [105]:
s=[1,2,3,4,5]
s.insert(5,6)

In [106]:
s

[1, 2, 3, 4, 5, 6]

In [109]:
my_list=[1,2,3,4,5,6]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5, 6]

In [110]:
my_list = [1, 2, 3, 4, 5]
index = 2
removed_element = my_list.pop(index)
print(my_list)
print("Removed element:", removed_element)

[1, 2, 4, 5]
Removed element: 3

In [111]:
my_list = [1, 2, 3, 4, 5]
if my_list.count(3) > 0:
    print("3 exists in the list")
else:
    print("3 does not exist in the list")

3 exists in the list

In [1]:
my_list = [10, 20, 30, 20, 40, 50, 20]
index = my_list.index(20)
print("The index of the first occurrence of 20 is:", index)

The index of the first occurrence of 20 is: 1

In [2]:
my_list = [1, 2, 3, 4, 2, 2, 5]
count = my_list.count(2)
print("The count of 2 in the list is:", count)

The count of 2 in the list is: 3

In [3]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list)

[5, 4, 3, 2, 1]

In [4]:
my_list = [5, 3, 1, 4, 2]
my_list.sort()
print(my_list)

[1, 2, 3, 4, 5]

In [8]:
my_list=[1,3,4,2,8,7]
my_list.sort(reverse=True)
print(my_list)

[8, 7, 4, 3, 2, 1]

In [9]:
even_list = [i for i in range(2, 21) if i % 2 == 0]
print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
odd_list=[i for i in range(3,21) if i % 3==0]
print(odd_list)

[3, 6, 9, 12, 15, 18]

In [11]:
my_list = [1, 2, 3, 4, 5]
total = sum(my_list)
print("The sum of all elements in the list is:", total)

The sum of all elements in the list is: 15

In [13]:
my_list=[1,2,3,4,5,6,7,8,9]
total=max(my_list)
print("the sum of all element in the list is:",total)

the sum of all element in the list is: 9

In [14]:
my_list=[1,2,3,4,5,6,7,8,9]
total=min(my_list)
print("the min of all element:",total)

the min of all element: 1

In [15]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
import random

random_list = [random.random() for _ in range(10)]
print(random_list)

[0.11071661101943953, 0.028872327815086085, 0.23066639651721166, 0.8225966384875112, 0.42752932032185464, 0.7845310977444849, 0.8268292841878061, 0.5592864275203222, 0.8588089912680091, 0.9442986567009277]

In [19]:
my_list = [1, 2, 3, 2, 1, 4, 5, 4]
unique_list = list(set(my_list))
print(unique_list)

[1, 2, 3, 4, 5]

In [21]:
list1=[1,2,3,9,8,4,7,88,99]
list2=[1,2,3,4,5,88,99]
common_element=list(set(list1) & set(list2))
print(common_element)

[1, 2, 99, 3, 4, 88]

In [22]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
difference = list(set(list1) - set(list2))
print(difference)

[1, 2]

In [23]:
list1=[1,2,3,4,5,6,7]
list2=[1,2,3,4,5,6,7]
list1+list2

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

In [24]:
my_list = [1, 2, 3, 4, 5]
for i in range(len(my_list)):
    my_list[i] *= 2
print(my_list)

[2, 4, 6, 8, 10]

In [25]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_list = []
for i in my_list:
    if i % 2 != 0:
        new_list.append(i)
print(new_list)

[1, 3, 5, 7, 9]

In [26]:
str_list = ['1', '2', '3']
int_list = list(map(int, str_list))
print(int_list)

[1, 2, 3]

In [27]:
int_list=[1,2,3,4]
str_list=list(map(str,int_list))
print(str_list)

['1', '2', '3', '4']

In [28]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
flat_list = []
for sublist in nested_list:
    for item in sublist:
        flat_list.append(item)
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
my_list = [1, 2, 3, 4, 5]
is_sorted = True
for i in range(len(my_list) - 1):
    if my_list[i] > my_list[i + 1]:
        is_sorted = False
        break
if is_sorted:
    print("The list is sorted.")
else:
    print("The list is not sorted.")

The list is sorted.

In [30]:
my_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = my_list[n:] + my_list[:n]
print(rotated_list)

[3, 4, 5, 1, 2]

In [31]:
my_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = my_list[:n] + my_list[n:]
print(rotated_list)

[1, 2, 3, 4, 5]

In [32]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_numbers = [i for i in range(2, 51) if is_prime(i)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [33]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
n = 3
chunks = []
for i in range(0, len(my_list), n):
    chunks.append(my_list[i:i + n])
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [34]:
my_list = [1, 5, 3, 8, 2, 7, 4, 6, 9]
sorted_list = sorted(my_list, reverse=True)
second_largest = sorted_list[1]
print(second_largest)

8

In [35]:
my_list = [1, 2, 3, 4, 5]
my_list = [x**2 for x in my_list]
print(my_list)

[1, 4, 9, 16, 25]

In [36]:
my_list = ['A', 'B', 'C']
my_dict = {value: index for index, value in enumerate(my_list)}
print(my_dict)

{'A': 0, 'B': 1, 'C': 2}

In [1]:
import random

my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)
print(my_list)

[1, 3, 2, 4, 5]

In [2]:
import math

factorials = []
for i in range(10):
    factorials.append(math.factorial(i))
print(factorials)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [6]:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 1,6, 7, 8, 9]
if set(list1).intersection(list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [7]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print(my_list)

[]

In [8]:
my_list = [-10, 1, 2, 3, 9, -1]
my_list = [0 if x < 0 else x for x in my_list]
print(my_list)

[0, 1, 2, 3, 9, 0]

In [9]:
my_string = "This is a string, with words!"
my_list = my_string.split()
print(my_list)

['This', 'is', 'a', 'string,', 'with', 'words!']

In [10]:
my_list = ['This', 'is', 'a', 'string', 'with', 'words']
my_string = ' '.join(my_list)
print(my_string)

This is a string with words

In [11]:
n = 10
powers_of_2 = []
for i in range(n):
    powers_of_2.append(pow(2, i))
print(powers_of_2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [12]:
my_list = ['cat', 'dog', 'shatter', 'donut', 'at', 'todo', '']
longest_string = max(my_list, key=len)
print(longest_string)

shatter

In [14]:
my_list = ['cat', 'dog', 'shatter', 'donut', 'at', 'todo', '']
shortest_string = min(my_list, key=len)
print(shortest_string)

In [15]:
n = 10
triangular_numbers = []
for i in range(1, n+1):
    triangular_numbers.append(i*(i+1)//2)
print(triangular_numbers)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [16]:
def contains_subsequence(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    if len(set1) > len(set2):
        set1, set2 = set2, set1
    for element in set1:
        if set2.issubset(set1 - {element}):
            return True
    return False

list1 = [1, 2, 3, 4, 5]
list2 = [2, 3, 4]
print(contains_subsequence(list1, list2))

list1 = [1, 2, 3, 4, 5]
list3 = [2, 3, 7]
print(contains_subsequence(list1, list3))

False
False

In [17]:
def swap_elements(lst, i, j):
    # Retrieve elements at indices i and j
    element_i = lst[i]
    element_j = lst[j]
    # Swap the elements
    lst[i] = element_j
    lst[j] = element_i

my_list = [1, 2, 3, 4, 5]
swap_elements(my_list, 1, 3)
print(my_list)

[1, 4, 3, 2, 5]

In [18]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [19]:
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]
print(third_element)

3

In [20]:
def find_tuple_length(tuple):
    length = 0
    for _ in tuple:
        length += 1
    return length

my_tuple = (1, 2, 3, 4, 5)
tuple_length = find_tuple_length(my_tuple)
print(tuple_length)

5

In [21]:
my_tuple = (1, 2, 3, 4, 2, 2, 5)
count = my_tuple.count(2)
print(count)

3

In [22]:
my_tuple = (1, 2, 3, 4, 2, 2, 5)
index = my_tuple.index(2)
print(index)

1

In [23]:
my_tuple = (1, 2, 3, 4, 5)
if 3 in my_tuple:
    print("Element 3 exists in the tuple")
else:
    print("Element 3 does not exist in the tuple")

Element 3 exists in the tuple

In [25]:
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5]

In [26]:
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

In [27]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a)
print(b)
print(c)

1
2
3

In [28]:
even_numbers = tuple(x for x in range(1, 11) if x % 2 == 0)
print(even_numbers)

(2, 4, 6, 8, 10)

In [29]:
odd_numbers = tuple(x for x in range(1, 11) if x % 2 != 0)
print(odd_numbers)

(1, 3, 5, 7, 9)

In [30]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [31]:
my_tuple = (1, 2, 3)
repeated_tuple = my_tuple * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [32]:
my_tuple = ()
if not my_tuple:
    print("Tuple is empty")
else:
    print("Tuple is not empty")

Tuple is empty

In [33]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(nested_tuple)

((1, 2), (3, 4), (5, 6))

In [34]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
first_element = nested_tuple[0][0]
print(first_element)

1

In [35]:
my_tuple = (1,)
print(my_tuple)

(1,)

In [36]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

print(tuple1 == tuple2)
print(tuple1 < tuple2)

False
True

In [2]:
my_tuple = (1, 2, 3)
del my_tuple

In [3]:
my_tuple = (1, 2, 3, 4, 5)

# Slicing from index 1 to 4
sliced_tuple = my_tuple[1:4]
print(sliced_tuple)  # Output: (2, 3, 4)

# Slicing with a step of 2
sliced_tuple = my_tuple[::2]
print(sliced_tuple)

(2, 3, 4)
(1, 3, 5)

In [4]:
my_tuple = (1, 2, 3, 4, 5)
max_value = max(my_tuple)
print(max_value)

5

In [5]:
my_tuple = (1, 2, 3, 4, 5)
min_value = min(my_tuple)
print(min_value)

1

In [6]:
my_string = "hello"
char_tuple = tuple(my_string)
print(char_tuple)

('h', 'e', 'l', 'l', 'o')

In [7]:
my_tuple = ('h', 'e', 'l', 'l', 'o')
my_string = ''.join(my_tuple)
print(my_string)

hello

In [8]:
my_tuple = ("hello", 42, True, 3.14)
print(my_tuple)
# Nested tuple with different data types
nested_tuple = ("hello", (1, 2, 3), [4, 5, 6], {"name": "John", "age": 30})
print(nested_tuple)

('hello', 42, True, 3.14)
('hello', (1, 2, 3), [4, 5, 6], {'name': 'John', 'age': 30})

In [9]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("The tuples are identical")
else:
    print("The tuples are not identical")

The tuples are identical

In [10]:
my_tuple = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)
sorted_tuple = tuple(sorted(my_tuple))
print(sorted_tuple)
my_tuple = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)
my_list = list(my_tuple)
my_list.sort()
sorted_tuple = tuple(my_list)
print(sorted_tuple)

(1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9)
(1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9)

In [11]:
int_tuple = (1, 2, 3, 4, 5)
str_tuple = tuple(map(str, int_tuple))
print(str_tuple)

('1', '2', '3', '4', '5')

In [12]:
str_tuple = ('1', '2', '3', '4', '5')
int_tuple = tuple(map(int, str_tuple))
print(int_tuple)

(1, 2, 3, 4, 5)

In [13]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')
merged_tuple = tuple1 + tuple2
print(merged_tuple)

(1, 2, 3, 'a', 'b', 'c')

In [14]:
def flatten_tuples(t):
    for x in t:
        if isinstance(x, tuple):
            yield from flatten_tuples(x)
        else:
            yield x

# Example
nested_tuple = ((1, 2), (3, (4, 5)))
flattened_tuple = tuple(flatten_tuples(nested_tuple))
print(flattened_tuple)

(1, 2, 3, 4, 5)

In [15]:
prime_numbers = (2, 3, 5, 7, 11)
print(prime_numbers)

(2, 3, 5, 7, 11)

In [16]:
def is_palindrome(tuple):
    tuple_str = str(tuple)
    reversed_tuple_str = tuple_str[::-1]
    return tuple_str == reversed_tuple_str

# Example
my_tuple = (1, 2, 3, 2, 1)
if is_palindrome(my_tuple):
    print("The tuple is a palindrome")
else:
    print("The tuple is not a palindrome")

The tuple is not a palindrome

In [17]:
squared_tuple = tuple(x**2 for x in range(1, 6))
print(squared_tuple)

(1, 4, 9, 16, 25)

In [18]:
import random
random_tuple = tuple(random.random() for _ in range(5))
print(random_tuple)

(0.5892782358213517, 0.3131850837950897, 0.4664113372524006, 0.19022548813786366, 0.5272802127374638)

In [19]:
def is_sorted(t):
    return all(t[i] <= t[i + 1] for i in range(len(t) - 1))

# Example
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 2, 8, 1, 3)

print(is_sorted(sorted_tuple))
print(is_sorted(unsorted_tuple))

True
False

In [20]:
def rotate_left(t, n):
    return t[n:] + t[:n]

# Example
my_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_left(my_tuple, 2)
print(rotated_tuple)

(3, 4, 5, 1, 2)

In [21]:
def rotate_right(t, n):
    return t[-n:] + t[:-n]

# Example
my_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_right(my_tuple, 2)
print(rotated_tuple)

(4, 5, 1, 2, 3)

In [22]:
def generate_fibonacci_sequence(n):
    fibonacci = [0, 1]
    for i in range(2, n):
        next_fib = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_fib)
    return tuple(fibonacci[:n])

# Create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci_sequence(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [23]:
# Get user input
user_input = input("Enter elements separated by commas: ")

# Convert the input string to a tuple
user_tuple = tuple(map(int, user_input.split(",")))

# Print the tuple
print(user_tuple)

Enter elements separated by commas: 4
(4,)

In [24]:
# Define a tuple
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a list
my_list = list(my_tuple)

# Swap the elements
my_list[1], my_list[3] = my_list[3], my_list[1]

# Convert the list back to a tuple
my_tuple = tuple(my_list)

# Print the tuple
print(my_tuple)

(1, 4, 3, 2, 5)

In [26]:

my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = tuple(reversed(my_tuple))
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [27]:
# Create a tuple of the first n powers of 2
n = 5
powers_of_2_tuple = tuple(2**i for i in range(1, n+1))
print(powers_of_2_tuple)

(2, 4, 8, 16, 32)

In [28]:
# Define a tuple of strings
my_tuple = ("apple", "banana", "watermelon", "orange")

# Find the longest string in the tuple
longest_string = max(my_tuple, key=len)

# Print the longest string
print("The longest string is:", longest_string)

The longest string is: watermelon

In [29]:
# Define a tuple of strings
my_tuple = ("apple", "banana", "watermelon", "orange")

# Find the shortest string in the tuple
shortest_string = min(my_tuple, key=len)

# Print the shortest string
print("The shortest string is:", shortest_string)

The shortest string is: apple

In [30]:
# Create a tuple of alternating 1s and 0s of length n
n = 5
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))
print(alternating_tuple)

(1, 0, 1, 0, 1)